<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                2014. 03 ~ 2020. 02 : <a href="https://msd.seoultech.ac.kr/"> 서울과학기술대학교 기계시스템디자인 공학부 </a> 재학 및 졸업
            </p>
            <p class="paragraph-text justify-text">
                2020. 02 ~ 2021. 03 : <a href="http://www.samjin.co.kr/kor/"> (주) 삼진 엘엔디 </a>근무 - Machine Vision Inspection
                <p> - Deep Learning Model Searching & S/W Develop (Tensorflow 2) </p>
                <p> - Machine Vision GUI S/W Develop (PyQt5, Pyside) </p>
            </p>
            <p class="paragraph-text justify-text">
                2021. 11 ~ : <a href="https://www.neubility.co.kr/"> (주) Neubility </a>근무 - Perception & MLOps
                <p> - MLOps Pipeline Develop (MLflow, Airflow, k8s) </p>
                <p> - Camera 2D Position -> Robot Baselink 기준 3D Position Estimation (3D Transformation) </p>
            </->
        </div>
    </section>
</div>
