<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <h3> "기술로 사람을 이롭게한다."</h3>
            <p> 안녕하세요. 제 이름은 정채진(CJlotto)입니다. Lotto 처럼 큰 한방이 될 수 있는 동료가 되고싶습니다.</p>
            <p> AI/ML, Computer Vision을 통해 사람의 삶의 질을 높일 수 있는 개발자가 되기 위해 노력하고, 성장하고 있습니다. </p>
            <p class="paragraph-text justify-text">
                2014. 03 ~ 2020. 02 : <a href="https://msd.seoultech.ac.kr/">서울과학기술대학교 기계시스템디자인 공학부</a> 재학 및 졸업
            </p>
            <p class="paragraph-text justify-text">
                2020. 02 ~ 2021. 03 : <a href="http://www.samjin.co.kr/kor/">(주) 삼진 엘엔디</a> 근무 - Machine Vision
                Inspection
            <p> - Deep Learning Model Searching & S/W Develop (Tensorflow 2, Keras) </p>
            <p> - Machine Vision GUI S/W Develop (PyQt5, Pyside) </p>
            </p>
            <p class="paragraph-text justify-text">
                2021. 11 ~ : <a href="https://www.neubility.co.kr/">(주) Neubility</a> 근무 - Autonomous Driving Perception
                & MLOps
            <p> - MLOps Pipeline Develop (MLflow, TODO : (Airflow, k8s)) </p>
            <p> - Camera 기반 Robot Baselink 기준 3D Position Estimation (3D Transformation) </p>
            </->
        </div>
    </section>
</div>